<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.horus">

    <application
            android:name=".Utils.MyApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_horus"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_horus_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning,InnerclassSeparator"
            android:fullBackupContent="true">
        <activity android:name=".Activities.RegistrationActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:noHistory="true">
        </activity>
        <activity
                android:name=".Activities.LoginActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:noHistory="true">
        </activity>
        <activity
                android:name=".Activities.SplashActivity"
                android:label="@string/app_name"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Activities.MainActivity"
                android:label="@string/categories_label"
                android:theme="@style/AppTheme.NoActionBar"

        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Activities.CategoriesActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"
                android:noHistory="true"/>
        <activity android:name=".Activities.ChatActivity"/>
    </application>

</manifest>